<% reply_comments.each do |reply| %>  
  <div class="collapse" id="collapseReplyCommentIndex">
    <div class="reply_comment-box ma-l-30 ma-r-30 ma-y-10">
      <div class="reply_comment-info">
        <span class="reply_comment-student"><%= link_to "@#{reply.student.name}", student_path(reply.student) %></span>    
        <span class="reply_comment-date pa-l-20 gray"><%= reply.created_at.strftime('%Y/%m/%d %H:%M:%S') %></span>
      </div>
      <div class="reply_comment-detail" id="reply_comment">
        <p class="pa-20"><%= reply.detail %></p>
      </div>
      <div class="reply_comment-menu">
        <% if reply.student == current_student %>
          <div class="menu-item right">
            <%= link_to "削除する", comment_reply_comment_path(reply.comment_id, reply.id), method: :delete, class: "comment_reply_destroy gray" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>