<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="title">志望校登録</h3>
      <div class="message-box">
        <p>
          志望校を登録してください。<br>
          志望校を登録しておくことで、同じ志を持った人たちと知り合うことに役立ちます。<br>
          また、動画もレベルに応じた動画が自動的にリマインドされるようになります。<br>
          志望校の登録は強制ではありません。任意で登録してください。
        </p>
      </div>
      <div class="aspire_edit-main">
        <%= render "aspires/form", url: student_aspire_path(current_student, current_student.aspire) %>
      </div>
    </div>
  </div>
</div>