<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="title">動画内容編集</h3>
      <div class="video_form-box">
        <%= render "videos/form", btn: "編集する" %>
      </div>
    </div>
  </div>
</div>

