<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="title">動画新規投稿</h3>
      <div class="video_form-box">
        <%= render "videos/form", btn: "投稿する" %>
      </div>
    </div>
  </div>
</div>
