<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="title">リクエスト編集</h3>
      <div class="request_form-box">
        <%= render "requests/form" %>
      </div>
    </div>
  </div>
</div>