// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video_index-box {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .video_index-item {
    width: 250px;
    height: 300px;
    .thumnail-image {
      width: 100%;
      height: 150px;
      background-image: image-url("no_movie.png");
      background-size: cover;
      background-position: center;
    }
  }
}
