<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="title">新規コミュニティ作成</h3>
      <div class="community_form-box">
        <%= render "communities/form", btn: "作成する" %>
      </div>
    </div>
  </div>
</div>
